body{
    background-color: rgba(33, 95, 228, 0.822);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    width: 500px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.671);
    margin: auto;
}

div#res{
    margin-top: 20px;
}

input{
    font: normal 16pt Arial;
}

input#ano{
    width: 100px;
    margin-left: 10px;
    text-align: center;
    line-height: 20pt;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}